.search-wrap{
    text-align: center;
}
.search1{
    margin-left: 10px;
}
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  .contents1{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    
  }
  .delete{
    background-color: red;
    padding: 3px 10px 10px 10px;
    border-radius: 7px;
    border: none;

  }

  .edit{
    background-color: aqua;
    padding: 3px 10px 10px 10px;
    border-radius: 7px;
    text-decoration: none;
    color:black;
    margin-right: 4px


    
  }
  .card-body2{
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    margin: 1px;
    max-width: 18rem;
    
  }

  .userslisting{
    padding: 3vh;
  }
  .contents1 h5.email {
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    width: 100%;
}