.link{
    text-decoration: none;
    margin-left: 20px;
    padding: 60px;
}
.nav{
    background-color: rgb(170, 169, 169);
}
.linkwrap{
    padding: 10px;
    display: flex;
}
.layer2{
    border: 1px solid white;
}
.bc{
    background-color: aquamarine;
}